body{
    background-color: rgb(217, 176, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh
}
#container{
    background-color: rgba(129, 255, 217, 0.867);
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
button{
    margin-top: 15px;
}